# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.suo
/BlingMe.Domain/bin/Debug/BlingMe.Domain.dll
/BlingMe.Domain/bin/Debug/BlingMe.Domain.pdb
/BlingMe.Domain/obj/Debug/BlingMe.Domain.dll
/BlingMe.Domain/obj/Debug/BlingMe.Domain.pdb
/BlingMe.Domain.EF/bin/Debug/BlingMe.Domain.dll
/BlingMe.Domain.EF/bin/Debug/BlingMe.Domain.EF.pdb
/BlingMe.Domain.EF/bin/Debug/BlingMe.Domain.EF.dll
/BlingMe.Domain.EF/bin/Debug/BlingMe.Domain.pdb
/BlingMe.Domain.EF/obj/Debug/BlingMe.Domain.EF.pdb
/BlingMe.Domain.EF/obj/Debug/BlingMe.Domain.EF.dll
/BlingMe.Domain.EF/obj/Debug/BlingMe.Domain.EF.csprojResolveAssemblyReference.cache
/BlingMe.Test/bin/Debug/BlingMe.Domain.dll
/BlingMe.Test/bin/Debug/BlingMe.Domain.EF.dll
/BlingMe.Test/bin/Debug/BlingMe.Domain.EF.pdb
/BlingMe.Test/bin/Debug/BlingMe.Domain.pdb
/BlingMe.Test/bin/Debug/BlingMe.Test.pdb
/BlingMe.Test/bin/Debug/BlingMe.Test.dll
/BlingMe.Test/obj/Debug/BlingMe.Test.csprojResolveAssemblyReference.cache
/BlingMe.Test/obj/Debug/BlingMe.Test.pdb
/BlingMe.Test/obj/Debug/BlingMe.Test.dll
/BlingMeMVC/bin/BlingMe.Domain.dll
/BlingMeMVC/bin/BlingMe.Domain.EF.dll
/BlingMeMVC/bin/BlingMeMVC.dll
/BlingMeMVC/bin/BlingMeMVC.pdb
/BlingMeMVC/obj/Debug/BlingMeMVC.csproj.ResolveComReference.cache
/BlingMeMVC/obj/Debug/BlingMeMVC.csprojResolveAssemblyReference.cache
/BlingMeMVC/obj/Debug/BlingMeMVC.dll
/BlingMeMVC/obj/Debug/BlingMeMVC.pdb
/BlingMeMVC/bin/BlingMe.Domain.pdb
/BlingMeMVC/bin/BlingMe.Domain.EF.pdb
/BlingMe.Domain/obj/Debug/BlingMe.Domain.csproj.FileListAbsolute.txt
/BlingMeMVC/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/BlingMeMVC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
