@model IEnumerable<BlingMe.Domain.Entities.Bracelet>

<script src="../Content/bootstrap-combobox.js"></script>

<form method="POST">
    <select name="query" class="combobox">
        <option value="">Search</option>
        @foreach (var b in Model)
        { <text><option value="@b.ID">@b.Name</option></text> }
    </select>
</form>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.combobox').combobox();
            $('.combobox')
        });
</script>