@model IEnumerable<BlingMe.Domain.Entities.Bracelet>

<link href="~/Content/bootstrap-combobox.css" rel="stylesheet" />
<script src="~/Content/bootstrap-combobox.js"></script>

@using (Html.BeginForm("_Search", "Home", FormMethod.Post))
{
    <text>
            <select name="query" class="combobox">
                <option value="">Search</option>
                @foreach (var b in Model)
                {
                    <text><option value="@b.ID">@b.Name</option></text>
                }
            </select>
    </text>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.combobox').combobox();
    });
</script>
